@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');

footer {
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a {
    color: white;
}

.footer__logo {
    font-size: 3rem;
    font-weight: 500;
    padding-top: 3rem;
    margin-bottom: 2rem;
    display: inline-block;
    font-family: 'Libre Barcode 39 Text', cursive;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__contact {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 8rem;
}

.footer__contact a {
    padding: 0;
}


@media screen and (max-width: 600px) {
    .links {
        flex-direction: column;
        gap: 1.5rem;
    }
}