.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    height: 25rem;
    transition: var(--transition);
}

.portfolio__item-image {
    border-radius: 1.5rem;
    height: 50%;
    overflow: hidden;
}

.portfolio__item img {
    width: 100%;
    height: 100%
}

.portfolio__item-title {
    height: 20%;
    margin: 1.2rem 0 1rem;
    justify-content: center;
    align-items: center;
}

.portfolio__icon {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}